@model PlayGroundModel.IPlayGround

@{
    var validUserData = new ValidUserValue();
    if (ViewData["ValidUserValue"] != null)
    { validUserData = ViewData["ValidUserValue"] as ValidUserValue; }
}

<h3>Ход экстрасенсов</h3>

@await Html.PartialAsync("TablePartial", Model)

@await Html.PartialAsync("PsychicsMoveFormPartial", validUserData)
