@model PlayGroundModel.IPlayGround

@{
    string historyOfDesiredValue = String.Join(", ", Model.User.HistoryOfDesiredValue);
}

<h3>Результат</h3>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped border-dark">
            <tbody>
                <tr>
                    <td class="text-dark col-md-6">
                        Последнее загаданное Вами значение - @Model.User.DesiredValue
                    </td>
                    <td class="col-md-6">
                        История значений: @historyOfDesiredValue
                        @*@Html.DropDownList("DDD", new SelectList(Model.User.HistoryOfDesiredValue), "История значений")*@
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("TablePartial", Model)

<div class="container">
    <div class="row">
        <form asp-action="PsychicsMove">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label">Экстрасенсы хотят попытаться еще.</label>
                </div>
                <p>Загадайте число от 10 до 99. После чего подтвердите свой выбор нажав на кнопку <b>Ход экстрасенсов.</b></p>
                <div class="form-group">
                    <input type="submit" value="Ход экстрасенсов" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

