
<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
</div>

<h4 class="text-center">Игра с экстрасенсами</h4>
<hr />
<h6>Правила игры</h6>
<p>Вам необходимо загадать число от 10 до 99.</p>
<p>Экстрасенсы (их количество Вы определите сами от 2 до 5) должны это число угадать.</p>
<p>Вступившие в игру экстрасенсы предлагают варианты ответа и начинают с уровнем достоверности равным 100.</p>
<p>После того как экстрасенсы предложили свои варианты, Вы вводите свое ранее загаданное значение.</p>
<p>В зависимости от близости к загаданному Вами числу экстрасенсы увеличивают или уменьшают уровень своей достоверности.</p>
<p><b>Загадайте число от 10 до 99. После чего подтвердите свой выбор нажав на кнопку Старт.</b></p>

<form asp-controller="Game" asp-action="Preparation" method="get">
    <div class="form-group">
        <input type="submit" value="Старт" class="btn btn-primary" />
    </div>
</form>