@model PlayGroundModel.PlayGround

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <td class="text-dark">
                    Вами загадано значение - @Model.User.DesiredValue
                </td>
                <td>
                    @Html.DropDownList("DDD", new SelectList(Model.User.HistoryOfDesiredValue), "История значений")
                </td>
            </tr>
        </table>
    </div>
</div>